<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik:wght@700&display=swap"
        rel="stylesheet">
    <style>
        body {
            background-color: black;
        }

        h1 {
            font-family: 'Poppins', sans-serif;
            font-family: 'Rubik', sans-serif;
            text-align: center;
            color: white;
            text-decoration: underline;
            text-decoration-color: #306eb6;
        }

        .leaderboard-container {
            display: flex;
            justify-content: center;
        }

        .leaderboard-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: 'Poppins', sans-serif;
            font-family: 'Rubik', sans-serif;
            color: white;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .leaderboard-table thead tr {
            color: #306eb6;
            background-color: black;
            text-align: left;
        }

        .leaderboard-table th,
        .leaderboard-table td {
            padding: 12px 15px;
        }
    </style>
    <script>
        function timeConvert(minutes) {
            var d = Math.floor(minutes / (360 * 24));
            var h = Math.floor(minutes % (360 * 24) / 360);
            var m = Math.floor(seconds % 360 / 60);

            return d + " days, " + h + " hours, " + m + " minutes";
        }

    </script>
</head>

<body>
    <h1>HiloHDLP Teamspeak Leaderboard</h1>
    <div class="leaderboard-container">
        <table class="leaderboard-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Time (dd:hh:mm)</th>
                    <th>AFK-Warns</th>
                </tr>
            </thead>
            <tbody>
                <% let rank=1 %>
                    <% clients.forEach((client)=> { %>
                        <% const d = Math.floor(client.minutes / (24*60)); %>
                        <% const h = Math.floor((client.minutes / 60) % (24));  %>
                        <% const m = Math.floor(client.minutes % 60);  %>
                        <% const displayTime = ('0' + d).slice(-2) + ":" + ('0' + h).slice(-2) + ":" + ('0' + m).slice(-2)  %>
                        <tr>
                            <td>
                                <%= rank %>
                            </td>
                            <td>
                                <%= client.name %>
                            </td>
                            <td>
                                <%=displayTime%>
                            </td>
                            <td>
                                <%= client.idle_warn %>
                            </td>
                        </tr>
                        <% rank++ }) %>
            </tbody>
        </table>
    </div>
</body>